{% extends "layout.html" %}

{% block styles %} <styles src="../static/styles.css"></styles> {% endblock %}

{% block scripts %} <script src="../static/index.js"></script> {% endblock %}

{% block title %} Vault {% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="text-start">Domain</th>
            <th class="text-start">Username</th>
            <th class="text-start">Password</th>
        </tr>
        </thead>
            <tbody>
                {% for item in list %}
                <tr id="{{ item.id }}" name="tbody-row">
                    <td class="text-start">{{ item.domain}}</td>
                    <td class="text-start">{{ item.username }}</td>
                    <td class="text-start">
                        <div class="container-sm px-0">
                            <input class="form-control mx-auto w-auto" name="password-field" type="password" value="{{ item.hash }}" readonly style="display:inline-block">
                            <button class="btn" name="visibility" title="Show">
                                <img src="../static/images/eye.svg" alt="Show" name="eye">
                            </button>
                            <button class="btn" name="copy-button" title="Copy to clipboard">
                                <img src="../static/images/clipboard.svg" alt="Copy to clipboard" name="clipboard">
                            </button>
                            <button class="btn" name="edit" title="Edit">
                                <img src="../static/images/pencil.svg" alt="Edit" name="pencil">
                            </button>
                            <button class="btn" name="delete" title="Delete">
                                <img src="../static/images/trash3.svg" alt="Delete">
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        <tfoot>
            <tr>
                <td class= "border-0 text-end" colspan="6"><button class="btn btn-light" id="add" title="Add">
                    <img src="../static/images/plus-square.svg" alt="Add">
                </button></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
